.todo-board {
	background: #ffffff;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
	.todo-board__begin-section {
		height: 60px;
		background: #ffffff;
		border-bottom: #e6e6e6 1px inset;
	}
	.todo-board__end-section {
		display: flex;
		position: sticky;
		justify-content: space-between;
		padding: 10px;
		white-space: nowrap;
		background: #ffffff;
		bottom: 0;
	}
