@import "vars";
@import "mixins";

.todo-title {
	font-family: 'HelveticaNeueCyr', 'HelveticaNeue', 'Times', sans-serif;
	font-size: 100px;
	font-weight: 100;
	text-transform: lowercase;
	text-align: center;
	color: rgba(175,47,47,.15);
	margin-bottom: 0;
	word-break: break-word;
	line-height: 100px;
}
