@import "vars";
@import "mixins";

body {
	background: $white_grey_1;
}

.todo {
	position: relative;
	width: 80%;
	min-width: 600px;
	max-width: 800px;
	margin: 0 auto;
}
	.todo:before {
		@include bottomLayer($usual_height_distance, $left_right_offset_layer, -1);
		@include shadowAroundBoxes();
	}
	.todo:after {
		@include bottomLayer($height_distance2x, $left_right_offset_layer2x, -2);
		@include shadowAroundBoxes();
	}
