@import "vars";
@import "mixins";

.todo-tasks__item_text {
	font-family: $font_family_text;
	font-size: $font_size_text;
	font-style: $font_style_text;
	font-weight: $font_weight_text;
	width: 100%;
	word-break: break-word;
}
