@import "vars";
@import "mixins";

.todo-tasks__item {
	display: flex;
	border-bottom: $border_width inset $white_grey_2;
	background: $white_1;
	min-height: 30px;
	padding: 15px;
}
	.todo-tasks__item:after {
		content: '';
		clear: both;
		display: table;
	}
	.todo-tasks__item:hover {
		z-index: -1;
		background: $background_hover_color;
		cursor: pointer;
	}
	.custom-checkbox_item-ready {
		align-self: center;
                float: left;
                margin-right: 16px;
	}
	.todo-tasks__item_text-w {
		width: 100%;
		overflow: hidden;
		padding-right: 20px;
	}
	.todo-tasks__item_text {
		cursor: text;
		font-family: $font_family_text;
		width: 100%;
		padding-top: 8px;
		word-break: break-all;
	}
	.todo-tasks__item_text:focus {
		outline: none;
	}
	.todo-tasks__item:hover .todo-tasks__remove-item,
	.todo-tasks__remove-item:focus {
		background-image: url(../icons/close.svg);
		background-color: $invisible;
		background-repeat: no-repeat;
		background-position: center;
	}
	.todo-tasks__remove-item {
		width: 40px;
		height: 40px;
		border: none;
		background: $white_1;
	}
