@import "vars";
@import "mixins";

.todo-tasks__item_text {
	font-family: 'HelveticaNeueCyr', 'HelveticaNeue', 'Times', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	width: 100%;
	word-break: break-word;
}
