.todo-toolbar {
	border-top: 1px solid #e6e6e6;
	font-family: 'HelveticaNeueCyr', 'Helvetica Neue' , 'Times', sans-serif;
	display: flex !important;
	padding: 15px;
	font-size: 18px;
	justify-content: center;
}
	.todo-toolbar__unready-counter {
		font-size: 18px;
		display: flex;
		max-width: 100px;
		margin-right: auto;
		padding: 5px;
		padding-top: 6px;
		align-items: center;
	}
	.todo-toolbar__filters {
		padding: 5px;
		text-align: center;
	}
		.todo-toolbar__filters-item {
			font-size: 18px;
			font-family: 'HelveticaNeueCyr', 'Helvetica Neue' , 'Times', sans-serif;
			outline: none;
			padding: 6px;
			border: 1px solid transparent;
			border-radius: 4px;
			background-color: #ffffff;
			color: #000000;
			text-decoration: none;
			cursor: pointer;
		}
			.todo-toolbar__filters-item:hover {
				border: 1px solid #ebdfdf;
			}
			.todo-toolbar__filters-item:active {
				border-color: rgba(43,43,43,.45);
			}
			.todo-toolbar__filters-item.__selected {
				border-color: rgba(43,43,43,.45);
			}
			.todo-toolbar__filters-item:focus {
				border: solid #4d90fe 1px;
			}

	.todo-toolbar__clear-completed {
		font-size: 18px;
		font-family: 'HelveticaNeueCyr', 'Helvetica Neue' , 'Times', sans-serif;
		outline: none;
		margin-left: auto;
		padding: 5px;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #ffffff;
		color: #000000;
		text-decoration: none;
		cursor: pointer;
	}
		.todo-toolbar__clear-completed:hover {
			border: 1px solid #ebdfdf;
		}
		.todo-toolbar__clear-completed:focus {
			border: solid #4d90fe 1px;
		}
