.todo-toolbar {
	border-top: 1px solid #e6e6e6;
	font-family: 'Work Sans', sans-serif;
	display: flex !important;
	padding: .8em;
	font-size: 16px;
	justify-content: center;
}
	.todo-toolbar__unready-counter {
		font-size: 14px;
		display: flex;
		max-width: 100px;
		margin-right: auto;
		padding: .25em;
		padding-top: .3em;
		align-items: center;
	}
	.todo-toolbar__filters {
		padding: .25em;
		text-align: center;
	}
		.todo-toolbar__filters-item {
			outline: none;
			padding: .3em;
			border: 1px solid transparent;
			border-radius: 4px;
			background-color: #ffffff;
			color: #000000;
			text-decoration: none;
			cursor: pointer;
		}
		.todo-toolbar__filters-item:hover {
			border: 1px solid #ebdfdf;
		}
		.todo-toolbar__filters:active {
			border-color: rgba(43,43,43,.45);
		}
	.todo-toolbar__clear-completed {
		outline: none;
		margin-left: auto;
		padding: .25em;
		border: 1px solid transparent;
		border-radius: 4px;
		background-color: #ffffff;
		color: #000000;
		text-decoration: none;
		cursor: pointer;
	}
		.todo-toolbar__clear-completed:hover {
			border: 1px solid #ebdfdf;
		}
