@import "vars";
@import "mixins";

.todo-board {
	@include shadowAroundBoxes();
}
	.todo-board__begin-section {
		height: 60px;
		@include todosFrameBackground();
	}
	.todo-board__end-section {
		display: flex;
		position: sticky;
		justify-content: space-between;
		padding: 10px;
		white-space: nowrap;
		background: $white_1;
		bottom: 0;
	}
