@import "vars";
@import "mixins";

.todo-toolbar__filters,
.todo-toolbar__filters__clear-completed {
	display: flex;
	font-family: 'HelveticaNeueCyr', 'HelveticaNeue', 'Times', sans-serif;	
	font-style: normal;
	font-weight: 300;
	font-size: 24px;
	line-height: 2;
	align-items: center;
	color: #888888;
}
	.todo-toolbar__filters_clear-completed {
		background: #FFFFFF;
		border: none;	
	}
	.todo-toolbar__filters .todo-toolbar-element__input {
		position: absolute;
		left: -9999px;
	}
		.todo-toolbar-element__input:focus:checked + .todo-toolbar-element {
			border: solid #4D90FE 1px;
		}
		input[type=radio]:checked + .todo-toolbar-element {
			border: 1px solid #EBDFDF;
		}
		.todo-toolbar-element {
			padding-left: 5px;
			padding-right: 5px;
			border: solid transparent 1px;
		}
